# Python virtual environment
.venv/
.env

# Python cache
__pycache__/
*.pyc

# OS / editor
.vscode/
.DS_Store

# Project folders (do not upload)
runs/
snippets/
training_results/
onnx/

# Ignore all zip files
*.zip
